APPLICATION_ENV=development

BUGSNAG_RUBY_KEY=

MAIL_FROM_MAIL=
MAIL_FROM_NAME=

SCALEWAY_OS_ACCESS_KEY_ID=
SCALEWAY_OS_BUCKET=
SCALEWAY_OS_ENDPOINT=https://s3.fr-par.scw.cloud
SCALEWAY_OS_REGION=fr-par
SCALEWAY_OS_SECRET_ACCESS_KEY=

SITE_URL=http://localhost:3000

SMTP_PASSWORD=
SMTP_USER=

# Not needed in development, but mandatory in production
# JEMALLOC_ENABLED=true
# WEB_CONCURRENCY=0
