
$white:         $color-flexoki-paper
$gray-100:      $color-flexoki-100
$gray-200:      $color-flexoki-200
$gray-300:      $color-flexoki-300
$gray-400:      $color-flexoki-300
$gray-500:      $color-flexoki-500
$gray-600:      $color-flexoki-600
$gray-700:      $color-flexoki-700
$gray-800:      $color-flexoki-800
$gray-900:      $color-flexoki-900
$black:         $color-flexoki-black

$primary:       $color-flexoki-black
$secondary:     $color-flexoki-100
$success:       $color-flexoki-green
$info:          $color-flexoki-cyan
$warning:       $color-flexoki-yellow
$danger:        $color-flexoki-red
$light:         $color-flexoki-100
$dark:          $color-flexoki-900


$font-family-serif: "InclusiveSans", sans-serif
$font-family-sans-serif: "InclusiveSans", sans-serif